@charset "utf-8";

/* 초기화 */
* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none; /* 불릿 없애기 */
}
a {
  text-decoration: none; /* 밑줄없애기 */
  color: #111;
}

/* 레이아웃 */

.container{
  width: 1600px;
  height: auto;
  background-color: bisque;
  margin: 0 auto;
}
h2{
  text-align: center;
  margin: 50px;
  font-size: 28px;
}

.buttons{
  width: 616px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.buttons li{
  width: 200px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  float: left;
}

.btn1{
  background-color: antiquewhite;
  color: white;
}

.btn2{
  background-color: rgb(254, 186, 102);
  margin-left: 8px;
}

.btn3{
  background-color: blue;
  margin-left: 8px;
}

.card_wrap{
  width: 100%;
  height: 304px;
  background-color: blueviolet;
}

.card{
  width: 520px;
  height: auto;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 20px;
  box-sizing: border-box;
  color: #555;
  float: left;
  margin-left: 20px;
}

.card h4{
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 41px;
}

.card h3{
  font-size: 28px;
  margin-bottom: 41px;
  color: #111;
}

.card p{
  margin-bottom: 50px;
}

.margin_none{

}