@import url(../css/reset.css);

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  color: #3f3d56;
}

.container {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
/* 공통영역 */
.con {
  width: 1600px;
  height: auto;
  margin: 0 auto;
  padding: 200px 0;
}

header .con {
  display: flex;
  gap: 40px;
  padding: 0;
}
/* 로고 */
h1 {
  width: fit-content;
  height: fit-content;
  margin: 36px 0;
}

h1 > a > img {
  filter: invert(1);
}

#gnb {
  width: 630px;
  height: 100px;
  margin-left: 350px;
}

#gnb > ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}

#gnb > ul > li:hover > a {
  color: #f50057;
}

/* 2차메뉴 */
.submenu {
  height: 0;
  overflow: hidden;
  line-height: 50px;
  font-weight: 400;
  text-transform: capitalize;
  transition: 0.5s;
}

#gnb > ul:hover .submenu {
  height: 200px;
}

#gnb > ul > li > a,
.submenu > ul > li {
  color: #fff;
}
/* 아이콘 */
#none {
  display: none;
}
#icons {
  font-size: 2em;
}

.icons {
  width: fit-content;
  height: 40px;
  display: flex;
  gap: 50px;
  margin-left: 100px;
}

.icons > div {
  width: 40px;
  height: 40px;
  margin: 30px 0;
}

.icons > div > a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* main */
main {
  width: 100%;
  height: auto;
}
/* sec1 */
.sec1 {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.text_sec {
  width: 50%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.text_sec h2 {
  font-size: 100px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 40px;
  font-weight: 600;
}

.text_sec span {
  color: black;
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff,
    0.5px -1.5px 0 #fff;
  font-size: 100px;
  line-height: 1.2;
  margin-bottom: 40px;
  font-weight: 600;
}

.text_sec p {
  font-size: 24px;
  line-height: 44px;
}

.video_sec {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.arrow {
  position: absolute;
  transform: translate(920px, 950px);
  color: white;
}
#arrow {
  font-size: 4em;
}
/* sec2 */
.sec2 {
  display: flex;
  height: 100vh;
  background-color: rgba(49, 107, 255, 1);
}

.text_sec2 {
  width: 50%;
  height: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.text_sec2 h2 {
  font-size: 100px;
  line-height: 1.2;
  margin-bottom: 40px;
  font-weight: 600;
}

.text_sec2 p {
  font-size: 24px;
  line-height: 44px;
}
.video_sec2 {
  width: 50%;
  height: auto;
  overflow: hidden;
}

/* sec3 */
.sec3 {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 200px 0;
  box-sizing: border-box;
}

.sec3 h2 {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 40px;
}
.sec3 > h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 100px;
}
.modules {
  margin: 0 auto;
  width: 1600px;
  height: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.modules h3 {
  font-size: 16px;
  font-weight: 600;
}

.modules p {
  font-size: 16px;
  font-weight: 200;
}

.module_img {
  margin-bottom: 20px;
  border-bottom: 1px solid #4f4f4f;
  padding: 30px;
}
