@charset "utf-8";
@import url(../css/reset.css);

.xi-globus xi-2x {
  font-size: 40px;
  color: black;
}
.xi-angle-left {
  color: black;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: auto;
  line-height: 100px;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 999;
  position: fixed;
}

.header_con {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  gap: 130px;
  box-sizing: border-box;
}

h1 {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 29px 0;
}
#gnb {
  width: fit-content;
  height: 100px;
  position: relative;
}

#gnb > ul {
  display: flex;
  width: fit-content;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

#gnb > ul > li {
  height: 100%;
  width: 240px;
  transition: 0.5s;
  position: relative;
  box-sizing: border-box;
}
#gnb > ul > li:first-child {
  left: 20px;
}
#gnb > ul > li:last-child {
  left: -20px;
}
#gnb:hover > ul > li:first-child {
  left: 0;
}
#gnb:hover > ul > li:last-child {
  left: 0;
}

.sub_menu {
  height: 0;
  overflow: hidden;
  transition: 0.5s, background-color 0s;
  line-height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  border-left: 1px solid #eee;
  position: relative;
  z-index: 999;
  font-size: 16px;
  font-weight: 400;
}
.sub_menu:hover {
  border-top: 2px solid #ff5624;
  transition: none;
  box-sizing: border-box;
}
#gnb_black {
  border-right: 1px solid #eee;
}

#gnb:hover .sub_menu {
  height: 300px;
  z-index: 999;
}

.gnb_hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  height: 100px;
  font-size: 18px;
  line-height: 100px;
  font-weight: 400;
}

.gnb_hover:hover {
  color: #ff5624;
  border-bottom: 2px solid #ff5624;
  position: relative;
  z-index: 999;
  box-sizing: border-box;
}

.sub_menu > li > a {
  text-align: center;
  display: block;
  width: 200px;
  color: #5e5f5f;
}

.sub_menu > li:hover > a {
  color: #ff5624;
}

#gnb::after {
  content: "";
  position: absolute;
  width: 1920px;
  left: -59%;
  top: 100px;
  height: 1px;
  transition: 0.5s;
  background-color: #fff;
  z-index: 998;
}

#gnb:hover::after {
  transition: none;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

#gnb:hover::after {
  height: 300px;
}

#gnb li:hover .sub_menu > li > a {
  color: #434243;
}
#gnb li:hover .sub_menu {
  background-color: #f5f5f5;
}
/* main */
main {
  padding-top: 100px;
}
/* swiper */
.swiper-button-prev > span {
  color: #222;
}

#sec1 {
  width: 1760px;
  height: 973px;
  margin: 0 80px;
  box-sizing: border-box;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  background-color: #fff;
}
.swiper-button-prev {
  background-color: #fff;
}

#deg {
  transform: rotate(90deg);
  display: inline-block;
  width: 310px;
  height: 20px;
  margin-bottom: 70px;
  color: #222;
}

#deg::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../image/arrow_up.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 2px;
  left: -24px;
}

#slide3 > .button_wrap > .swiper-button-next > #deg {
  margin-top: 40px;
}

.swiper-button-prev {
  border-top-right-radius: 20px;
  color: #222;
  z-index: 999;
}

.swiper-button-next {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 999;
}

#slide2 > .button_wrap > .swiper-button-prev > span {
  text-align: left;
}

.swiper-button-prev > span {
  margin-left: 10px;
}

/* 슬라이드 애니메이션 */
.circle {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(20);
  display: none;
}

.animation {
  animation: circle_quater 1s ease-in forwards;
}

@keyframes circle_quater {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
    border-radius: 100%;
  }

  100% {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background-color: #ff5624;
    opacity: 0.3;
    display: none;
  }
}
/* 슬라이드 텍스트 애니메이션 */
.circle_word {
  position: absolute;
  top: 15%;
  left: 12%;
  animation: circle_word_quater 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

.circle_word1 {
  position: absolute;
  top: 15%;
  left: 9.5%;
  animation: circle_word_quater 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

.circle_word > path {
  transform-origin: right top;
}
@keyframes circle_word_quater {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }

  100% {
    width: 42px;
    height: 42px;
    opacity: 1;
  }
}

#slide1 h2 {
  position: absolute;
  top: 22%;
  left: 9.5%;
  text-align: left;
  font-size: 68px;
  font-weight: 400;
  line-height: 70px;
  color: #fff;
}

#slide1 p {
  position: absolute;
  top: 50%;
  left: 9.5%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

#slide2 h2 {
  position: absolute;
  top: 22%;
  left: 9.5%;
  text-align: left;
  font-size: 68px;
  font-weight: 400;
  line-height: 70px;
  color: #fff;
}

#slide2 p {
  position: absolute;
  top: 50%;
  left: 9.5%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

#slide3 h2 {
  position: absolute;
  top: 22%;
  left: 9.5%;
  text-align: left;
  font-size: 68px;
  font-weight: 400;
  line-height: 70px;
  color: #fff;
}

#slide3 p {
  position: absolute;
  top: 50%;
  left: 9.5%;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #fff;
}

.circle_text {
  animation: circle_text_drop 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
  transform: translateY(-10px);
}

@keyframes circle_text_drop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* prev, next버튼 애니메이션 */
#next_animation {
  animation: next_height 1s ease forwards;
  opacity: 0;
}

#prev_animation {
  animation: prev_wide 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  width: 0;
  height: 0;
}

@keyframes next_height {
  0% {
    width: 74px;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 74px;
    height: 310px;
    opacity: 1;
  }
}
@keyframes prev_wide {
  0% {
    width: 0px;
    height: 98px;
    opacity: 0;
  }
  100% {
    width: 190px;
    height: 98px;
    opacity: 1;
  }
}
/* sec2 */
#sec2 {
  width: 1760px;
  height: auto;
  margin: 0 80px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin-top: 250px;
  margin-bottom: 325px;
}

.sec2_left_con {
  width: 45%;
  text-align: center;
  opacity: 0;
}
.sec2_left_con h2 {
  font-size: 75px;
  font-weight: 700;
  color: #434243;
}
.sec2_right_con {
  width: 755px;
  height: 358px;
  opacity: 0;
}

.sec2_right_con h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 4px;
}

.sec2_right_con h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #767575;
  padding-bottom: 40px;
  border-bottom: 1px solid #434243;
}

.box {
  margin-top: 30px;
  display: flex;
  gap: 100px;
}

.box em {
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  color: #ff5624;
}

.box span {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-left: 7px;
}

.box p {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 40px;
}

/* sec3 */
#sec3::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 1000px;
  background-image: url("https://www.samsungwelstory.com/assets/image/main/sec2_bg_300.jpg");
  background-repeat: no-repeat;
  position: absolute;
  top: -175px;
  left: 0;
  z-index: 0;
}

#sec3 {
  position: relative;
  z-index: 999;
}
.sec3_con {
  width: 1760px;
  height: auto;
  position: relative;
  margin: 0 auto;
}
.sec3_left_box {
  width: 650px;
  height: 650px;
  background-color: #fff;
  margin-left: 230px;
}

.sec3_left_box h2 {
  top: 50%;
  left: 50%;
}
