@charset "utf-8";
@import url(../css/reset.css);

.xi-globus xi-2x {
  font-size: 40px;
  color: black;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: auto;
  line-height: 100px;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 999;
  position: fixed;
}

.header_con {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  gap: 130px;
  box-sizing: border-box;
}

h1 {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 29px 0;
}
#gnb {
  width: fit-content;
  height: 100px;
  position: relative;
}

#gnb > ul {
  display: flex;
  width: fit-content;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

#gnb > ul > li {
  height: 100%;
  width: 240px;
  transition: 0.5s;
  position: relative;
  box-sizing: border-box;
}
#gnb > ul > li:first-child {
  left: 20px;
}
#gnb > ul > li:last-child {
  left: -20px;
}
#gnb:hover > ul > li:first-child {
  left: 0;
}
#gnb:hover > ul > li:last-child {
  left: 0;
}

.sub_menu {
  height: 0;
  overflow: hidden;
  transition: 0.5s, background-color 0s;
  line-height: 50px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  border-left: 1px solid #eee;
  position: relative;
  z-index: 999;
  font-size: 16px;
  font-weight: 400;
}
.sub_menu:hover {
  border-top: 2px solid #ff5624;
  transition: none;
  box-sizing: border-box;
}
#gnb_black {
  border-right: 1px solid #eee;
}

#gnb:hover .sub_menu {
  height: 300px;
  z-index: 999;
}

.gnb_hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  height: 100px;
  font-size: 18px;
  line-height: 100px;
  font-weight: 400;
}

.gnb_hover:hover {
  color: #ff5624;
  border-bottom: 2px solid #ff5624;
  position: relative;
  z-index: 999;
  box-sizing: border-box;
}

.sub_menu > li > a {
  text-align: center;
  display: block;
  width: 200px;
  color: #5e5f5f;
}

.sub_menu > li:hover > a {
  color: #ff5624;
}

#gnb::after {
  content: "";
  position: absolute;
  width: 1920px;
  left: -59%;
  top: 100px;
  height: 1px;
  transition: 0.5s;
  background-color: #fff;
  z-index: 998;
}

#gnb:hover::after {
  transition: none;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

#gnb:hover::after {
  height: 300px;
}

#gnb li:hover .sub_menu > li > a {
  color: #434243;
}
#gnb li:hover .sub_menu {
  background-color: #f5f5f5;
}
/* main */
main {
  padding-top: 100px;
}
/* swiper */
#sec1 {
  width: 1760px;
  height: 973px;
  margin: 0 80px;
  box-sizing: border-box;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-next {
  background-color: #fff;
}
.swiper-button-prev {
  background-color: #fff;
}
