@charset "utf-8" ;
@import url(../css/reset.css);

header {
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

header .con{
    width: 1920px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    background-color: aquamarine;
}

#left_gnb{
    display: flex;
}

#left_gnb > ul{
    display: flex;
    margin-right: 50px;
}

h1 > a > img{
    width: 120px;
    height: 50px;
    line-height: 50px;
}

#left_gnb > ul > li{
    margin-left: 40px;
    list-style-type: none;
    display: flex;
    display: block;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 14px;
}

#left_gnb > ul > li > a{
    color: black;
}

#left_gnb > ul > li > a:hover{
    color: red;
}

#right_gnb{
    display: flex;
    height: 40px;
}

#right_gnb > ul{
    display: flex;
    margin-right: 50px;
}

#right_gnb > ul > li > a > div{
    color: white;
    font-weight: bold;
}

#right_gnb > ul > li{
    margin-left: 10px;
    list-style-type: none;
    display: flex;
    display: block;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
}

#right_gnb > ul > li > a{
    color: black;
}

#right_gnb > ul > li > a:hover{
    color: red;
}


.red_box{
    width: 80px;
    border-radius: 8px;
    background-color: red;
}

#logo2{
    background: url('../image/sprite.svg') no-repeat -32px -107px;
    margin-top: 13px;
    margin-left: 35px;
	width: 24px;
	height: 24px;
}

main{
    width: 100%;
    height: auto;
}

.mainvisual_txt {
    width: 100%;
    height: auto;
    padding: 40px 0;
    text-align: center;
}

.mainvisual_txt > h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.mainvisual_txt > h3{
    font-size: 25px;
}

#middle_box{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px 20px;
    align-items: center;
    margin-left: 45px;
}

#middle_box > a{
    width: 290px;
    height: 220px;
}

.box1{
    width: 290px;
    height: 220px;
    margin: 3px 3px;
    background-color: white;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}


.box1 > h3{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
}

.box1 > h4{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 13px;
}

#logo3{
    margin-top: 30px;
    margin-left: 30px;
}

.solution {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: auto;
    padding: 40px 0;
    text-align: center;
}

.solution > .solution_boxs{
    display: flex;
    margin-top: 20px;
    margin: 0 auto;
    align-items: left;
    flex-wrap: wrap;
    padding: 20px 20px;
    justify-content: space-evenly;

}

.solution_box{
    width: 520px;
    height: 230px;
}

.solution > h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.solution_boxs > .solution_box > h3{
    font-size: 30px;
    text-align: left;
}

.solution_boxs > .solution_box{
    font-size: 15px;
    text-align: left;
    color: #888;
}

.solution_box > h3{
    color: black;
}

.solution_box > a{
    color: red;
}
