@charset "utf-8";

div{
    width: 100px; /*넓이*/
    height: 100px; /*높이*/
    background-color: lightblue; /*배경색*/
    margin-bottom: 20px; /*바깥족여백(아래쪽)*/
}

*{
    margin: 0;
    padding: 0;
}
/* 안쪽여백 바깥쪽여백 테두리 적용 */
.box1{
    padding: 10px; /*안쪽여백*/
    border: 5px solid red; /*테두리*/
    margin: 10px;
}
/* 안쪽여백 테두리 */
.box2{
    padding: 20px;
    border: 2px solid blueviolet;
}
/* 테두리 */
.box3{
    border: 5px solid black;
}