@charset "utf-8";
/* 전체선택자로 브라우저 기본 여백 없애기 */
*{
    margin: 0;
    padding: 0;
}
/* 모든div태그들의 공통 속성 */
div{
    width: 200px;
    height: 200px;
    background-color: lightcoral;
}
/* inline속성을 가진 태그는 넓이 높이가 적용되지 않는다. */
span{
    width: 200px;
    height: 200px;
    background-color: lightgreen;
}
/* 클래스 이름이 box2인 두번째 div에 속성적용 */
.box2{
    width: 50%;
    height: 200px;
    background-color: lightsalmon;
}