

*{
    margin: 0;
    padding: 0;;
}

div{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 24px;
}

.box1{
    background-color: aqua;
    float: left;
}
.box2{
    background-color: rgb(36, 50, 153);
    float: left;
}
.box3{
    background-color: rgb(176, 70, 139);
    float: left;
}
.box4{
    background-color: rgb(209, 93, 107);
    clear: both;
    float: left;
}
.box5{
    background-color: rgb(167, 165, 47);
    float: left;
}
.box6{
    background-color: rgb(101, 208, 122);
    float: left;
}
.box7{
    background-color: rgb(41, 106, 152);
    clear: both;
    float: left;
}
.box8{
    background-color: rgb(118, 21, 86);
    float: left;
}
.box9{
    background-color: rgb(204, 164, 55);
    float: left;
}
