@charset "utf-8";

/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 1024px) {
    /* 공통영역 */
    .con{
        width: 95%;
    }
    header .con{
        justify-content: space-between;
    }
    h1{
        width: 100px;
    }
    h1 img{
        width: 100%;
    }
    /* 메뉴 */
    #gnb{
        display: none;
    }

    .main_visual{
        height: 700px;
    }

    .main_title{
        width: 70%;
    }

    .main_title h2{
        font-size: clamp(32px, 11vw, 45px);
        color: #fff;
        text-shadow: 3px 3px 0px #19163c;
    }

    .man{
        width: 180%;
        left: -70px;
        top: 100px;
    }

    .man > img{
        max-width: 100%;
    }

    .woman{
        display: none;
    }

    @keyframes moving1{
    0%{
        top: 100px;
    }
    100%{
        top: 120px;
    }
    }

    .sec2 .con{
        justify-content: center;
    }

    .right_con{
        display: none;
    }

    .left_con p{
        font-size: clamp(25px, 8vw, 36px)
    }

    .left_con a{
        width: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        font-size: 20px;
        padding: 20px 0;
    }

    .right_con{
        display: none;
    }

    /* 세번째 섹션 */
    section h2{
        font-size: clamp(40px, 13vw, 47px);
    }

    .con_wrap{
        justify-content: center;
        gap: 40px;
    }

    .con_wrap > .service{
        width: 90%;
    }
    .img_top{
        width: 100%;
    }

    .img_top .floor{
        width: 100%;
        object-fit: cover;
    }

    /* 네번째 섹션 */
    .btn_box{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn_box > a{
        width: 100%;
        padding: 12px;
        justify-content: center;
        box-sizing: border-box;
        max-width: 300px;
    }

    /* 다섯번째 섹션 */
    .sec5 > .con{
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }

    .left_title{
        width: 100%;
        text-align: center;
    }

    .left_title p{
        font-size: 25px;
    }

    .sec5 form{
        width: 90%;
        padding: 60px 0;
    }

    .input_box{
        flex-direction: column;
    }

    .input_box > input,
    .input_box > textarea{
        width: 100%;
        margin-top: 10px;
    }

    .input_box > label{
        font-size: 20px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    /* 컨텐츠 공통영역 */
    .con{
        width: 90%;
    }
    /* 메인비주얼 */
    .main_visual{
        height: 850px;
    }
    /* 세번재 섹션 */
    .con_wrap > .service{
        justify-content: center;
        width: calc(50%-20px);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .con{
        width: 95%;
    }
    #gnb{
        width: 540px;
    }

    #gnb > ul{
        font-size: 18px;
    }
    /* 메인비주얼 */
    .main_title h2{
        font-size: clamp(50px, 5vw, 60px);
        color: #fff;
        text-shadow: 3px 3px 0px #19163c;
    }
}