@charset "utf-8";
@import url('../css/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
  background: #f5f5fa;
  color: #47474f;
}
header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 0 24px;
  display: flex;
  gap: 24px;
  /* 헤더는 상단에 고정 */
  position: fixed;
  top: 0;
  left: 0;
  /* 헤더를 맨 앞으로 위치시킴 */
  z-index: 999;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}
/* 로고 */
h1 {
  height: 30px;
  width: auto;
  margin: 15px 0;
}
h1 img {
  height: 100%;
}
/* GNB */
#gnb {
  font-size: 14px;
  height: 100%;
}
#gnb > ul {
  width: fit-content;
  height: 100%;
  display: flex;
  text-transform: uppercase;
}
/* 1차메뉴 */
#gnb > ul > li {
  margin: 0 12px;
  position: relative;
  height: 100%;
  line-height: 60px;
  padding-bottom: 10px;
}
#gnb > ul > li > a {
  font-weight: 700;
}
#gnb > ul > li:hover > a {
  color: #e5322d;
}
/* 2차메뉴 */
.submenu_wrap {
  min-width: 500px;
  background-color: #ffffff;
  position: absolute;
  /* 부모의 반만큼 오른쪽으로 보냄 */
  left: 50%;
  /* 요소 넓이의 반만큼 왼쪽으로 끌어당김 */
  transform: translateX(-50%);
  top: 70px;
  border-radius: 16px;
  padding-top: 10px;
  box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
}
.submenu_wrap::before {
  content: 'arrow';
  font-size: 0px;
  width: 24px;
  height: 10px;
  border-left: 12px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 12px solid transparent;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.submenu_wrap .submenu {
  box-sizing: border-box;
  line-height: 40px;
  padding: 10px;
}
.submenu > h3 {
  font-size: 14px;
  line-height: 18px;
  color: #707078;
  font-weight: 700;
  margin: 20px 0 16px 16px;
}
.submenu > li {
  display: flex;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 4px 16px;
  border-radius: 8px;
}
.submenu > li:hover {
  background-color: #eee;
}
.submenu > li:hover > a {
  color: #e5322d;
}
/* 메뉴앞 아이콘 공통속성 */
.submenu > li::before {
  content: 'icon';
  font-size: 0;
  display: block;
  width: 24px;
  height: 20px;
  background: url(../img/sprite.svg) no-repeat;
  background-position-x: -5px;
}
/* convert to pdf아이콘들 */
.submenu:first-of-type > li:first-of-type::before {
  background-position-y: -180px;
}
.submenu:first-of-type > li:nth-of-type(2)::before {
  background-position-y: -205px;
}
.submenu:first-of-type > li:nth-of-type(3)::before {
  background-position-y: -230px;
}
.submenu:first-of-type > li:nth-of-type(4)::before {
  background-position-y: -255px;
}
.submenu:first-of-type > li:nth-of-type(5)::before {
  background-position-y: -530px;
}
/* convert from pdf아이콘들 */
.submenu:last-of-type > li:nth-of-type(1)::before {
  background-position-y: -280px;
}
.submenu:last-of-type > li:nth-of-type(2)::before {
  background-position-y: -305px;
}
.submenu:last-of-type > li:nth-of-type(3)::before {
  background-position-y: -330px;
}
.submenu:last-of-type > li:nth-of-type(4)::before {
  background-position-y: -355px;
}
.submenu:last-of-type > li:nth-of-type(5)::before {
  background-position-y: -505px;
}
/* 4번째 1차메뉴 li에 마우스를 올리면 숨겨둔 submenu_wrap이 나옴*/
#gnb > ul > li:nth-child(4):hover .submenu_wrap {
  display: flex;
}
/* icons */
.icons {
  /* 왼쪽으로 여백을 쭉밀어 정렬한다 */
  margin-left: auto;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
}
.icons a {
  display: block;
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin: 0 4px;
  font-size: 15px;
  font-weight: 500;
}
.icons a:first-child:hover {
  color: #e5322d;
}
.icons a:nth-child(2) {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #e5322d;
  color: #fff;
}
.icons a:nth-child(2):hover {
  background-color: #bd060a;
}
.icons a:nth-child(2):active {
  /* 클릭하면 */
  background-color: #33333b;
}
.icons .all_menu {
  width: 32px;
  height: 32px;
  background: url(../img/sprite.svg) no-repeat;
  background-position: -51px 3px;
}
/* 컨텐츠 영역 */

main{
  width: 100%;
  height: auto;
  /* 상대위치 현재 출력된 위치에서 움직임 */
  position: relative;
  /* 헤더 높이만큼 내림 */
  top: 60px;
  background: url(../image/background.svg) no-repeat;
  background-size: cover;
  background-position-y: -500px;
  background-attachment: fixed;
}

section{
  width: 100%;
  height: auto;
}

section:not(:first-child){
  padding-top: 96px;
  padding-bottom: 124px;
  box-sizing: border-box;
}

section h2{
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  line-height: 52px;
  color: #33333b;
}

section > h2 + p{
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  color: #47474f;
  text-align: center;
}

/* 첫번째 섹션 */
.sec1{
  padding: 50px 0;
}

.sec1 > h2{
  margin-bottom: 0;
}

/* 카드영역 */
.box_wrap{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0 68px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
/* 카드 공통영역 */
.box_wrap > div{
  /* 늘리지도 않고 줄이지도 않는다. */
  /* 카드 한장의 기본크기는 100%에서 5장을 나눈 16.666%이고 여기서 거터 4px을 뺌.*/
  flex: 0 0 calc(16.666% - 4px);
  background-color: #fff;
  border: 1px solid #f5f5fa;
  margin: 2px;
  overflow: hidden;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.box_wrap > div > a{
  display: block;
  padding: 32px;
}

.box_wrap > div img{
  margin-bottom: 16px;
}

.box_wrap > div:hover img{
  transform: scale(1.1);
}
.box_wrap > div:hover p{
  color: #47474f;
}

.box_wrap > div:hover{
  background-color: #f5f5fa;
}

.box_wrap > div h2{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 20px;
  color: #161616;
}

.box_wrap > div p{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
  color: #707070;
}

/* 두번째 섹션 */

.sec2{
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 124px;
}

.con_wrap{
  width: 1600px;
  margin: 0 auto;
  display: flex;
}

.con_wrap > div{
  padding: 30px;
}

.con_wrap > div > h3{
  font-size: 500;
  font-size: 28px;
  line-height: 30px;
  color: #33333b;
  margin-bottom: 12px;
}

.con_wrap > div > p{
  color: #707070;
  line-height: 28px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
}

.con_wrap > div > p > a{
  color: #e5322d;
  font-weight: 500;
  /* 밑줄 표시 */
  text-decoration: underline;
}

.con_wrap > div > p > a:hover{
  color: #161616;
}


/* 세번째 섹션 */
.icon_wrap{
  margin-top: 64px;
  width: fit-content;
  height: 52px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 64px;
}

.icon_wrap > img{
  height: 100%;
  box-sizing: border-box;
  padding: 12px;
}

/* 네번째 섹션 */
.sec4{
  background-color: #47474f;
}

.sec4 .con_wrap{
  align-items: center;
  justify-content: space-between;
}

.sec4 .con_wrap h2{
  color: #f5f5fa;
  text-align: left;
}

.sec4 .con_wrap p{
  line-height: 32px;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  color: #f5f5fa;
}

.sec4 .con_wrap a{
  display: block;
  background-color: #ffc233;
  color: #161616;
  padding: 8px 20px;
  border: 8px;
  width: fit-content;
  margin-top: 48px;
  font-weight: 600;
  line-height: 26px;
}

.sec4 .con_wrap a:hover{
  background-color: #ef9e02;
}

.left_text{
  width: 58%;
}

.right_img{
  width: fit-content;
}

/* footer */
footer{
  width: 100%;
  height: auto;
  background-color: #f5f5fa;
  padding-top: 32px;
  padding-bottom: 50px;
  position: relative;
  top: 60px;
}

footer .con{
  width: 1600px;
  margin: 0 auto;
}

#sitemap{
  width: 100%;
  height: fit-content;
  display: flex;
}

#sitemap > ul{
  width: 25%;
  height: fit-content;
  line-height: 20px;
  box-sizing: border-box;
  padding: 0 15px;
}

#sitemap > ul > h3{
  font-size: 16px;
  font-weight: 600;
  color: #e5322d;
  margin-bottom: 18px;
}

#sitemap > ul > li{
  margin-bottom: 12px;
}

#sitemap > ul > li > a{
  color: #47474f;
  font-weight: 400;
}

#sitemap > ul > li:hover > a{
  color: #e5322d;
}

/* 사이트맵 아래 버튼영역 */

.app_btn{
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid #b4b4b4;
  padding: 24px 0;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.app_btn+p{
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #47474f;
}
