@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.container2{
    width: 1000px;
    height: 700px;
    background-color: aquamarine;
    margin: 50px auto;
    /* 부모박스에 적용 */
    display: flex;

    /* 나열속성 */
     
    flex-direction: row-reverse;
    flex-direction: column;
    justify-content: flex-end;
    flex-direction: column-reverse;
    flex-direction: column;
     /* 감싸기속성 */
     flex-wrap: nowrap;
     flex-wrap: wrap;
     flex-wrap: wrap-reverse; /*부모박스를 상하로 뒤집는다.*/
     flex-flow: row wrap;
 
     /* 컨텐츠 세로 정렬 속성 */
     align-content: flex-end;
     align-content: center;
     align-content: space-between;
     align-content: space-around;
     align-content: space-evenly;
     /* 자식박스에 height가 없어야 적용된다. */
     align-content: stretch;
     align-content: flex-start;
     /* 컨텐츠 사이에 gutter만들기 */
     gap: 20px;
     column-gap: 30px;
     row-gap: 60px;
}


.container2 div{
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.box1{
    background-color: rgb(109, 186, 70);
}

.box2{
    background-color: rgb(53, 79, 49);
}

.box3{
    background-color: rgb(179, 84, 73);
}

.box4{
    background-color: rgb(25, 5, 10);
}

.box5{
    background-color: rgb(11, 46, 136);
}
